
//共通CSS
.wrapper{
  width: 414px;
  margin: 0 auto;
}

h1{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

h2{
  font-size: 26px !important;
  line-height: 36px;
  font-weight: 800;
  margin-top: 33px !important;
}

//header
.headerInner{
  padding:17px 0 16px 30px ;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

//content
.content{
  width: 362px;
  margin: 0 auto;
}

